.math-input-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 5px;
}
.math-preview {
	min-height: 50px;
	width: 100%;
	padding: 10px;
	border: 1px solid lightgray;
	font-size: 20px;
	text-align: center;
}
.math-preview * {
	font-family: 'Katex_Math';
}
.math-input {
	border: 1px solid lightgray;
	background: none;
	padding: 10px;
	margin-top: 5px;
}